<html>

<head>
</head>

<body>
    <link rel="stylesheet" type="text/css" media="all" href="combined.css">
    <link rel="stylesheet" type="text/css" media="all" href="custom.css">

    <div class="slip-container">
        <div class="col-xs-12 col-sm-9 col-md-6" ng-class="{'col-md-6': showRightNav || showRightNavThirdParty || shortWidth === true}">
            <!-- ngView:  -->
            <div ng-view="" ng-show="!showSpinner" autoscroll="true" class="" style="">
                <ul steps="" step="SLIP" class="stepsTab" on-link="next(step)" include-bank-account="maxAccounts > 0">
                    <!-- ngRepeat: step in steps -->
                    <li ng-repeat="step in steps" ng-class="step.class" class="active">
                        <a ng-click="linkClick(step.link)" href="">
                            <div class="circle-text">
                                <div>1</div>
                            </div>
                            <p>Make a Donation</p>
                        </a>
                    </li>
                    <!-- end ngRepeat: step in steps -->
                    <li ng-repeat="step in steps" ng-class="step.class" class="disabledHover">
                        <a ng-click="linkClick(step.link)" href="">
                            <div class="circle-text">
                                <div>2</div>
                            </div>
                            <p>Bank Account</p>
                        </a>
                    </li>
                    <!-- end ngRepeat: step in steps -->
                    <li ng-repeat="step in steps" ng-class="step.class" class="disabledHover">
                        <a ng-click="linkClick(step.link)" href="">
                            <div class="circle-text">
                                <div>3</div>
                            </div>
                            <p>Review and Submit</p>
                        </a>
                    </li>
                    <!-- end ngRepeat: step in steps -->
                </ul>
                <div class="clear"></div>
                <!-- ngIf: selectGiftAidDonationType -->
                <!-- ngIf: signGiftAidDeclaration -->
                <!-- ngIf: !selectGiftAidDonationType && !signGiftAidDeclaration -->
                <div ng-if="!selectGiftAidDonationType &amp;&amp; !signGiftAidDeclaration" memfs-donation-slip="" slip-id="slipId" instruction-id="instructionId" review="review">
                    <div cg-busy="{promise: loadingSlipPromise, message: messages('label.loading'), delay: constants.SPINNER.DELAY, minDuration: constants.SPINNER.MINIMUM_DURATION, wrapperClass: 'donation-slip-loading loading-animation'}" style="position: relative;">
                        <div class="donation-slip-loading loading-animation ng-hide" ng-show="$cgBusyIsActive()" style="">
                            <div style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;">
                                <div class="panel-saving">
                                    <p>Loading ...</p>
                                    <div class="spinner spinner-animate">
                                        <span><span></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="slip" fade-in="" resolve="slip" class="" style="display: block;">
                        <!-- ngIf: alerts && alerts.length > 0 -->
                        <div class="holes"></div>
                        <div class="whiteSlip">
                            <h1>Tithing and Other Offerings</h1>
                            <!-- the ng-if is relevant since we don't want to compile this directive's html until the slip is rendered-->
                            <!-- ngIf: slip -->
                            <article class="userInfo" memfs-slip-header="" slip="slip" step1="true" ng-if="slip" style="">
                                <div class="float">
                                    <p id="spanDate">dd mmm yyyy</p>
                                    <!-- ngIf: isAgencyDonation(slip) -->
                                    <h2>
        Firstname Lastname
        <span class="dropdown" dropdown="" on-toggle="toggled(open)">
            <!-- ngIf: step1 && mrn -->
            <p class="dropdown-menu spouse" role="menu" ng-bind-html="helpText">Donor information is displayed based on your membership record. Please see your ward or branch clerk for changes or updates to your membership record.</p>
        </span>
    </h2>
                                    <!-- ngIf: mrn && slip.mrn -->
                                    <!-- ngIf: slip.participantSpouseName && includeSpouse -->
                                    <!-- ngIf: slip.spouseMrn && includeSpouse -->
                                </div>
                                <div class="float2">
                                    <!-- ngIf: displaySpecificUnitNames && !slip.hideUnitInfo -->
                                    <!-- ngIf: !displaySpecificUnitNames && !slip.hideUnitInfo -->
                                    <p ng-if="!displaySpecificUnitNames &amp;&amp; !slip.hideUnitInfo">
                                        Headquarters
                                    </p>
                                    <!-- end ngIf: !displaySpecificUnitNames && !slip.hideUnitInfo -->
                                    <p class="contry">United States</p>
                                </div>
                                <div class="clear"></div>
                            </article>
                            <!-- end ngIf: slip -->
                            <table class="slip" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <!-- ngIf: giftAidSlip -->
                                    <!-- ngIf: regularSlip -->
                                    <!-- ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class="" style=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <tr ng-if="slipLine.hasSingleSubcategory" class="">
                                        <td ng-class="($index == 0 || $index == 1) ? 'bold' : ''" class="bold">Tithing</td>
                                        <td class="input">
                                            <input placeholder="0.00" ng-model="slipLine.amount" memfs-currency="slip.isoCurrencyCode" type="text" name="txt" class="txt form-control ng-pristine ng-untouched ng-valid" ng-change="updateTotal()" memfs-focus="slipLine.focus" memfs-focus-default="($index == 0) ? true : false">
                                        </td>
                                    </tr>
                                    <!-- end ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <tr ng-if="slipLine.hasSingleSubcategory" class="">
                                        <td ng-class="($index == 0 || $index == 1) ? 'bold' : ''" class="bold">Fast Offerings</td>
                                        <td class="input">
                                            <input placeholder="0.00" ng-model="slipLine.amount" memfs-currency="slip.isoCurrencyCode" type="text" name="txt" class="txt form-control ng-pristine ng-untouched ng-valid" ng-change="updateTotal()" memfs-focus="slipLine.focus" memfs-focus-default="($index == 0) ? true : false">
                                        </td>
                                    </tr>
                                    <!-- end ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <tr ng-if="slipLine.hasSingleSubcategory" class="">
                                        <td ng-class="($index == 0 || $index == 1) ? 'bold' : ''">General Missionary Fund</td>
                                        <td class="input">
                                            <input placeholder="0.00" ng-model="slipLine.amount" memfs-currency="slip.isoCurrencyCode" type="text" name="txt" class="txt form-control ng-pristine ng-untouched ng-valid" ng-change="updateTotal()" memfs-focus="slipLine.focus" memfs-focus-default="($index == 0) ? true : false">
                                        </td>
                                    </tr>
                                    <!-- end ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <tr ng-if="slipLine.isCategoryHeader" class="">
                                        <td ng-class="($index == 0 || $index == 1) ? 'bold' : ''" class="wMission">Ward Missionary Fund</td>
                                        <td class="borderL"></td>
                                    </tr>
                                    <!-- end ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <tr ng-if="slipLine.isSelectable &amp;&amp; slipLine.options &amp;&amp; slipLine.options.length > 0 &amp;&amp; !slipLine.showUnitSearch &amp;&amp; !slipLine.hideSelectable" class="">
                                        <td class="noPadCell">
                                            <div memfs-select="" model="slipLine.option" options="slipLine.options" placeholder="Select a missionary ..." on-change="slipLineSelected(slipLine)" remove-selected="true">
                                                <!-- ngIf: isMobile -->
                                                <!-- ngIf: !isMobile -->
                                                <div class="memfs-select-ui-select ui-select-container selectize-control single ng-valid" ng-class="{'open': $select.open}" search-enabled="true" theme="selectize" ng-model="model" ng-if="!isMobile" on-select="selectChange(model, $select)">
                                                    <div class="selectize-input" ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}" ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">
                                                        <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())" class="ui-select-match ng-hide" placeholder="Select a missionary ..."><span ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)" class="ui-select-placeholder text-muted ng-hide">Select a missionary ...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude="" class="ng-hide"><span></span></span>
                                                        </div>
                                                        <input type="search" autocomplete="off" tabindex="-1" class="ui-select-search ui-select-toggle ng-pristine ng-untouched ng-valid" ng-class="{'ui-select-search-hidden':!$select.searchEnabled}" ng-click="$select.toggle($event)" placeholder="Select a missionary ..." ng-model="$select.search" ng-disabled="$select.disabled" aria-label="Select box" style="width: 214px;">
                                                    </div>
                                                    <div ng-show="$select.open" class="ui-select-choices ui-select-dropdown selectize-dropdown ng-hide single" ng-class="{'single': !$select.multiple, 'multi': $select.multiple}" repeat="option in options | filter: $select.search">
                                                        <div class="ui-select-choices-content selectize-dropdown-content">
                                                            <div class="ui-select-choices-group optgroup">
                                                                <div ng-show="$select.isGrouped" class="ui-select-choices-group-label optgroup-header ng-hide" ng-bind="$group.name"></div>
                                                                <!-- ngRepeat: option in $select.items -->
                                                                <!-- ngIf: $select.open -->
                                                                <!-- end ngRepeat: option in $select.items -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui-select-no-choice"></div>
                                                    <ui-select-single></ui-select-single>
                                                    <input ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen" type="text" id="focusser-0" aria-label="Select box focus" aria-haspopup="true" role="button">
                                                </div>
                                                <!-- end ngIf: !isMobile -->
                                            </div>
                                        </td>
                                        <td class="input adjust">
                                            <input disabled="" type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <!-- end ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <tr ng-if="slipLine.hasSingleSubcategory" class="">
                                        <td ng-class="($index == 0 || $index == 1) ? 'bold' : ''">Humanitarian Aid</td>
                                        <td class="input">
                                            <input placeholder="0.00" ng-model="slipLine.amount" memfs-currency="slip.isoCurrencyCode" type="text" name="txt" class="txt form-control ng-pristine ng-untouched ng-valid" ng-change="updateTotal()" memfs-focus="slipLine.focus" memfs-focus-default="($index == 0) ? true : false">
                                        </td>
                                    </tr>
                                    <!-- end ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <tr ng-if="slipLine.isCategoryHeader" class="">
                                        <td ng-class="($index == 0 || $index == 1) ? 'bold' : ''" class="wMission">Other</td>
                                        <td class="borderL"></td>
                                    </tr>
                                    <!-- end ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr ng-repeat-start="slipLine in slip.slipLines" class=""></tr>
                                    <!-- ngIf: slipLine.hasSingleSubcategory -->
                                    <!-- ngIf: slipLine.isCategoryHeader -->
                                    <!-- ngIf: slipLine.isSelected -->
                                    <!-- this is just a dummy row in order to add space between the category header and the select another unit search boxes -->
                                    <!-- ngIf: slipLine.showUnitSearch || slipLine.isOtherUnitSelectable -->
                                    <!-- these are the same slip line -->
                                    <!-- ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <tr ng-if="slipLine.isSelectable &amp;&amp; slipLine.options &amp;&amp; slipLine.options.length > 0 &amp;&amp; !slipLine.showUnitSearch &amp;&amp; !slipLine.hideSelectable" class="">
                                        <td class="noPadCell">
                                            <div memfs-select="" model="slipLine.option" options="slipLine.options" placeholder="Select a category ..." on-change="slipLineSelected(slipLine)" remove-selected="true">
                                                <!-- ngIf: isMobile -->
                                                <!-- ngIf: !isMobile -->
                                                <div class="memfs-select-ui-select ui-select-container selectize-control single ng-valid" ng-class="{'open': $select.open}" search-enabled="true" theme="selectize" ng-model="model" ng-if="!isMobile" on-select="selectChange(model, $select)">
                                                    <div class="selectize-input" ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}" ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">
                                                        <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())" class="ui-select-match ng-hide" placeholder="Select a category ..."><span ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)" class="ui-select-placeholder text-muted ng-hide">Select a category ...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude="" class="ng-hide"><span></span></span>
                                                        </div>
                                                        <input type="search" autocomplete="off" tabindex="-1" class="ui-select-search ui-select-toggle ng-pristine ng-untouched ng-valid" ng-class="{'ui-select-search-hidden':!$select.searchEnabled}" ng-click="$select.toggle($event)" placeholder="Select a category ..." ng-model="$select.search" ng-disabled="$select.disabled" aria-label="Select box" style="width: 215px;">
                                                    </div>
                                                    <div ng-show="$select.open" class="ui-select-choices ui-select-dropdown selectize-dropdown ng-hide single" ng-class="{'single': !$select.multiple, 'multi': $select.multiple}" repeat="option in options | filter: $select.search">
                                                        <div class="ui-select-choices-content selectize-dropdown-content">
                                                            <div class="ui-select-choices-group optgroup">
                                                                <div ng-show="$select.isGrouped" class="ui-select-choices-group-label optgroup-header ng-hide" ng-bind="$group.name"></div>
                                                                <!-- ngRepeat: option in $select.items -->
                                                                <!-- ngIf: $select.open -->
                                                                <!-- end ngRepeat: option in $select.items -->
                                                                <!-- ngIf: $select.open -->
                                                                <!-- end ngRepeat: option in $select.items -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui-select-no-choice"></div>
                                                    <ui-select-single></ui-select-single>
                                                    <input ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen" type="text" id="focusser-1" aria-label="Select box focus" aria-haspopup="true" role="button">
                                                </div>
                                                <!-- end ngIf: !isMobile -->
                                            </div>
                                        </td>
                                        <td class="input adjust">
                                            <input disabled="" type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <!-- end ngIf: slipLine.isSelectable && slipLine.options && slipLine.options.length > 0 && !slipLine.showUnitSearch && !slipLine.hideSelectable -->
                                    <!-- ngIf: slipLine.showUnitSearch -->
                                    <!-- end of same slip line -->
                                    <!-- ngIf: slipLine.isOtherUnitSelectable -->
                                    <tr ng-repeat-end=""></tr>
                                    <!-- end ngRepeat: slipLine in slip.slipLines -->
                                    <tr>
                                        <td class="total">Total</td>
                                        <td class="totalAmount" id="summation">
                                            <span id="sum">$0.00</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="donationTxt">Though reasonable efforts will be made to use donations as designated, all donations become the Church's property and will be used at the Church's sole discretion to further the Church's overall mission.</p>
                            <div class="notes addNote">
                                <p ng-show="!addNotes" class="">
                                    <a ng-click="toggleAddNotes()" bs-tooltip="" data-title="Enter personal notes here. Notes are for your reference only. (optional)">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Notes
                </a>
                                </p>
                                <p ng-show="addNotes" class="ng-hide">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Notes</p>
                                <p></p>
                                <div ng-show="addNotes" class="ng-hide">
                                    <div add-notes="" comment="slip.donorComment">
                                        <textarea ng-model="comment" ng-model-options="{updateOn: 'default blur'}" rows="3" ng-change="updateCounter" class="ng-pristine ng-untouched ng-valid">
                                        </textarea>
                                        <div class="counter">255</div>
                                    </div>
                                </div>
                            </div>
                            <div class="btnContainer">
                                <div ng-transclude="">
                                    <!-- ngIf: alerts && alerts.length > 0 -->
                                    <div class="btnContainer">
                                        <!-- ngIf: !review && giftAidWorkflow -->
                                        <!-- ngIf: review -->
                                        <!-- ngIf: review -->
                                        <a ng-click="next(step)" class="btn btn-primary floatR">Next Step</a>
                                    </div>
                                </div>
                                <!-- ngIf: !review --><a ng-if="!review" href="" class="btn btn-default" ng-click="memfsConfirm({fn: clear, content: messages('confirm.clear.donation'), confirmButton: messages('label.yes'), closeButton: messages('label.no')})">Clear</a>
                                <!-- end ngIf: !review -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end ngIf: !selectGiftAidDonationType && !signGiftAidDeclaration -->
            </div>
        </div>
        <!-- ngIf: showRightNav -->
        <div class="col-md-3 tithDonCol3" ng-if="showRightNav">
            <div fade-in="" memfs-recent-donations="" style="display: block;">
                <div class="histCol">
                    <h3 class="show-hide-recent" ng-class="{'clicked':!showDonations}" ng-click="toggleShowDonations()">
        <a></a>Recent Donations
    </h3>
                    <!-- ngRepeat: slipByCountry in slipsByCountry -->
                </div>
            </div>
        </div>
        <!-- end ngIf: showRightNav -->
        <!-- ngIf: showRightNavThirdParty -->
    </div>
</body>
<script>
        let today = new Date();
        var options = { month: 'long', year: 'numeric', day: 'numeric' };
        var dateString = today.toLocaleString('en-US', options);
        console.log(dateString);
        document.getElementById("spanDate").innerHTML = dateString;

    </script>

</html>