<link rel="stylesheet" href="footer.css">
<footer class="pf-footer" role="contentinfo">
	<div class="pf-footer__cells">
		
<div class="pf-footer__cell pf-footer__linklist pf-footer__site-info">
        <ul>
                <li>
                <a href="//www.lds.org/help/sitemap?lang=eng" data-omniture="">
                    Site Map
                    
                    
                </a>
            </li><li class="pf-feedback">
                <a href="//www.lds.org/tools/feedback/?lang=eng&amp;id=11340&amp;note=lds.org:homepage&amp;amp;note=" data-omniture="">
                    Feedback
                    
                    
                </a>
            </li><li>
                <a href="//www.lds.org/church/employment?lang=eng" data-omniture="">
                    Employment
                    
                    
                </a>
            </li><li>
                <a href="//www.lds.org/help?lang=eng" data-omniture="">
                    Help
                    
                    
                </a>
            </li>
            </ul>
</div>
    
    <div class="pf-footer__cell pf-footer__linklist pf-footer__linklist--image pf-footer__social">
        <ul>
                <li>
                <a href="https://www.facebook.com/LDS" class="pf-footer__teaser" data-omniture="">
                    <figure class="pf-footer__teaser__image">
                        <img src="https://www.lds.org/services/platform/bc/global-platform/facebook.png" alt="Facebook" class="lazy lazyLoadDone" style="opacity: 1;">
                    </figure>
                    <div class="pf-footer__teaser__content">Facebook</div>
                </a>
            </li><li>
                <a href="https://twitter.com/ldschurch" class="pf-footer__teaser" data-omniture="">
                    <figure class="pf-footer__teaser__image">
                        <img src="https://www.lds.org/services/platform/bc/global-platform/twitter.png" alt="Twitter" class="lazy lazyLoadDone" style="opacity: 1;">
                    </figure>
                    <div class="pf-footer__teaser__content">Twitter</div>
                </a>
            </li><li>
                <a href="https://www.instagram.com/ldschurch/" class="pf-footer__teaser" data-omniture="">
                    <figure class="pf-footer__teaser__image">
                        <img src="https://www.lds.org/services/platform/bc/global-platform/instagram.png" alt="Instagram" class="lazy lazyLoadDone" style="opacity: 1;">
                    </figure>
                    <div class="pf-footer__teaser__content">Instagram</div>
                </a>
            </li><li>
                <a href="http://www.pinterest.com/ldschurch/" class="pf-footer__teaser" data-omniture="">
                    <figure class="pf-footer__teaser__image">
                        <img src="https://www.lds.org/services/platform/bc/global-platform/pinterest.png" alt="Pinterest" class="lazy lazyLoadDone" style="opacity: 1;">
                    </figure>
                    <div class="pf-footer__teaser__content">Pinterest</div>
                </a>
            </li>
            </ul>
        <p>
            <a href="//www.lds.org/media-library/social?lang=eng" class="pf-footer__more">All Church Social Pages</a>
        </p>
    </div>
    


	</div>
	<div class="pf-footer__logo">
		<a href="//www.lds.org/?lang=eng" class="ldschurch-logotype">
			<span class="ldschurch-logotype__text">The Church of Jesus Christ of Latter-day Saints</span>
		</a>
	</div>
	<div class="pf-footer__legal"><p>
			<a href="//www.lds.org/legal/terms?lang=eng" id="rights-url">
				Rights and Use Information (Updated 2016-09-01)
			</a>
			<a href="//www.lds.org/legal/privacy?lang=eng" id="privacy-url">
				Privacy Policy (Updated 2014-03-18)
			</a>
			<a id="teconsent" consent="undefined" style="display: inline-block;"><script async="async" type="text/javascript" crossorigin="" src="https://consent.trustarc.com/asset/notice.js/v/1.7"></script><a id="icon-id041625245117472764" tabindex="0" role="button" lang="en" style="cursor: pointer;">Cookie Preferences</a></a><br>
			</p><div id="copyright-text">© 2018 by Intellectual Reserve, Inc. All rights reserved.</div>
		<p></p></div>
	
		
		<script data-pf="vars">
		if (typeof(s) == 'undefined') {
			var s = {};
		}
		if (typeof(Platform) == 'undefined') {
			var Platform = {};
		}
		Platform.domain = /**/""/**/;
		Platform.signouturl = /**/""/**/;
		Platform.signin = /**/"signmein"/**/;
		Platform.signout = /**/"signmeout"/**/;
		Platform.host = /**/"//www.lds.org"/**/;
		Platform.lang = /**/"eng"/**/;
		Platform.cdnPath = /**/"//edge.ldscdn.org"/**/;
		Platform.cdn2Path = /**/"//edge.ldscdn.org/cdn2"/**/;
		Platform.googleSearchKey = /**/"003638553136284313543:4xhtgbkksr8"/**/;
							</script>
	
	<script src="//edge.ldscdn.org/cdn2/csp/platform/scripts/platform5.js" data-pf="platformjs"> </script>
	<script>
        if (typeof utag_data === "undefined") {
            utag_data = {};
        }
        (function(a,b,c,d){
            a="https://edge.ldscdn.org/cdn2/csp/ldsorg/scripts/tracking.js";
            b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
            a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
	</script>
</footer>