<link rel="stylesheet" href="header.css">
<header class="pf-header" role="banner">
	<div class="pf-header__top">
		<div class="pf-logo">
						<a href="//www.lds.org/?lang=eng" class="ldschurch-logotype">
				<span class="ldschurch-logotype__text">The Church of Jesus Christ of Latter-day Saints</span>
			</a>
							
											</div>
			<nav class="pf-nav">
				<div class="pf-top">
					<ul>
						<li class="pf-language">
							<a href="#pf-language" class="pf-prefix pf-icon-globe pf-popup__trigger" aria-haspopup="true" aria-owns="pf-language"><span class="pf-language__country2">Worldwide</span><span class="pf-language__separator"> - </span><span class="pf-language__language">English</span></a>
							<div id="pf-language" class="pf-popup pf-language__popup">
								<a href="#d" class="pf-language__country">
								</a><div class="pf-language__select"><a href="#d" class="pf-language__country">
									</a><a href="//www.lds.org/countries?lang=eng" class="pf-prefix pf-icon-location">Select a Region</a>
									<a href="//www.lds.org/languages?lang=eng&amp;langs=eng" class="pf-prefix pf-icon-language">English</a>
								</div>
							</div>
						</li>
						<li id="pf-auth" class="pf-personal">
							<a href="#pf-personal-links" class="pf-prefix pf-icon-signin pf-popup__trigger" aria-haspopup="true" aria-owns="pf-personal-links"><span class="pf-personal__text">My Account and Ward</span><span id="pf-signin" class="pf-personal__name2">William Harrison</span></a>
							<div id="pf-personal-links" class="pf-popup pf-personal__popup">
								<div class="pf-personal__top">
									<span class="pf-personal__name pf-prefix pf-icon-signin">William Harrison</span>
									<a href="#d" class="pf-sign-in" onclick="Platform.setURL('signin')" data-omnitext="Sign In Authenticated">William Harrison</a>
									<a href="#d" class="pf-sign-out" onclick="Platform.setURL('signout')">Sign Out</a>
								</div>
								<div class="pf-personal__bottom pf-popup__cols">
<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">My Account</h4>
	<ul>
		<li><a href="https://ldsaccount.lds.org" data-omniture="" class=" ">Account Settings</a></li><li><a href="//www.lds.org/temples/myTemple?lang=eng" data-omniture="" class=" ">My Temple</a></li><li><a href="http://familysearch.org/tree" data-omniture="" class=" ">My Family Tree</a></li><li><a href="//www.lds.org/notes" data-omniture="" class=" ">Notes</a></li><li><a href="https://pb.lds.org/pbrequest?lang=eng" data-omniture="" class=" ">Patriarchal Blessing</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">My Ward</h4>
	<ul>
		<li><a href="//www.lds.org/directory/?lang=eng" data-omniture="" class=" ">Directory</a></li><li><a href="//www.lds.org/church-calendar/?lang=eng" data-omniture="" class=" ">Calendar</a></li><li><a href="//www.lds.org/donations/" data-omniture="" class=" ">Donations</a></li><li><a href="//www.lds.org/maps/directory/?lang=eng" data-omniture="" class=" ">Ward Map</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Tools and Support</h4>
	<ul>
		<li><a href="//www.lds.org/tools?lang=eng" data-omniture="" class=" ">All Tools</a></li><li><a href="//www.lds.org/maps/meetinghouses/?lang=eng" data-omniture="" class=" ">Meetinghouse Locator</a></li><li><a href="//www.lds.org/mls/mbr/?lang=eng" data-omniture="" class=" ">Leader and Clerk Resources</a></li><li><a href="//www.lds.org/locations?lang=eng" data-omniture="" class=" ">Locations and Schedules</a></li><li><a href="//www.lds.org/pages/mobileapps?lang=eng" data-omniture="" class=" ">Mobile Applications</a></li><li><a href="//www.lds.org/locations/camping?lang=eng" data-omniture="" class=" ">Recreation Camps</a></li><li><a href="//www.lds.org/help/support?lang=eng" data-omniture="" class=" ">Help Center</a></li><li><a href="http://store.lds.org/" data-omniture="" class=" ">Online Store</a></li>
	</ul>
</div>
</div>
								
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<nav class="pf-header__bottom" aria-label="Main navigation">
			<div class="pf-joshua">
				<h2><a href="#pf-joshua" class="pf-joshua__heading pf-icon-menu pf-popup__trigger" aria-haspopup="true" aria-owns="pf-joshua">Site Menu</a></h2>
				<ul id="pf-joshua" class="pf-joshua__menus">
<li class="pf-joshua__menu pf-1">
	<h3 class="pf-joshua__menu__heading"><a href="#pf-1" class="pf-popup__trigger" aria-haspopup="true" aria-owns="pf-1">Scriptures and Study</a></h3>
	<div class="pf-popup pf-popup__cols" id="pf-1">
<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Scriptures</h4>
	<ul>
		<li><a href="//www.lds.org/scriptures/bible?lang=eng" data-omniture="" class=" ">Holy Bible</a></li><li><a href="//www.lds.org/scriptures/bofm?lang=eng" data-omniture="" class=" ">Book of Mormon</a></li><li><a href="//www.lds.org/scriptures/dc-testament?lang=eng" data-omniture="" class=" ">Doctrine and Covenants</a></li><li><a href="//www.lds.org/scriptures/pgp?lang=eng" data-omniture="" class=" ">Pearl of Great Price</a></li><li><a href="//www.lds.org/scriptures/study-helps?lang=eng" data-omniture="" class=" ">Study Helps</a></li><li><a href="//www.lds.org/scriptures?lang=eng" data-omniture="" class=" ">About the Scriptures</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Prophetic Teachings</h4>
	<ul>
		<li><a href="//www.lds.org/general-conference?lang=eng" data-omniture="" class=" ">General Conference</a></li><li><a href="//www.lds.org/manual/teachings-of-presidents?lang=eng" data-omniture="" class=" ">Teachings of Presidents</a></li><li><a href="//www.lds.org/topics/scriptures-and-study/living-prophets-church-leaders?lang=eng" data-omniture="" class=" ">Living Prophets and Church Leaders</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Learn More</h4>
	<ul>
		<li><a href="http://jesuschrist.lds.org/SonOfGod" data-omniture="" class=" ">Jesus Christ</a></li><li><a href="//www.lds.org/topics?lang=eng" data-omniture="" class=" ">Gospel Topics</a></li><li><a href="https://history.lds.org/" data-omniture="" class=" ">Church History</a></li><li><a href="//www.lds.org/topics/education?lang=eng" data-omniture="" class=" ">Education</a></li><li><a href="//www.lds.org/religious-freedom?lang=eng" data-omniture="" class=" ">Religious Freedom</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Helpful Resources</h4>
	<ul>
		<li><a href="//www.lds.org/topics/serve-and-teach/lessons-and-teaching?lang=eng" data-omniture="" class=" ">Lessons and Teaching</a></li><li><a href="//www.lds.org/magazine?lang=eng" data-omniture="" class=" ">Magazines</a></li><li><a href="//www.lds.org/music?lang=eng" data-omniture="" class=" ">Music</a></li><li><a href="//www.lds.org/topics/scriptures-and-study/helpful-resources/achievement-programs?lang=eng" data-omniture="" class=" ">Achievement Programs</a></li><li><a href="//www.lds.org/topics/scriptures-and-study/study-tools?lang=eng" data-omniture="" class=" ">Study Tools</a></li>
	</ul>
</div>
</div>
</li>

<li class="pf-joshua__menu pf-2">
	<h3 class="pf-joshua__menu__heading"><a href="#pf-2" class="pf-popup__trigger" aria-haspopup="true" aria-owns="pf-2">Families and Individuals</a></h3>
	<div class="pf-popup pf-popup__cols" id="pf-2">
<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Eternal Families</h4>
	<ul>
		<li><a href="//www.lds.org/topics/family-proclamation?lang=eng" data-omniture="" class=" ">Doctrine of the Family</a></li><li><a href="//www.lds.org/topics/family?lang=eng" data-omniture="" class=" ">Home and Family</a></li><li><a href="//www.lds.org/temples?lang=eng" data-omniture="" class=" ">Temples</a></li><li><a href="//www.lds.org/topics/family-history?lang=eng" data-omniture="" class=" ">Family History</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Understanding Life's Challenges</h4>
	<ul>
		<li><a href="//www.lds.org/topics/families-and-individuals/lifes-challenges/hope-and-help?lang=eng" data-omniture="" class=" ">Hope and Help</a></li><li><a href="//www.lds.org/topics/pef-self-reliance?lang=eng" data-omniture="" class=" ">Self-Reliance</a></li><li><a href="//www.lds.org/topics/welfare?lang=eng" data-omniture="" class=" ">Employment and Welfare</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Resources For</h4>
	<ul>
		<li><a href="//www.lds.org/topics/families-and-individuals/singles-young-adults?lang=eng" data-omniture="" class=" ">Young Adults</a></li><li><a href="//www.lds.org/youth?lang=eng" data-omniture="" class=" ">Youth</a></li><li><a href="//www.lds.org/children?lang=eng" data-omniture="" class=" ">Children</a></li>
	</ul>
</div>
</div>
</li>

<li class="pf-joshua__menu pf-3">
	<h3 class="pf-joshua__menu__heading"><a href="#pf-3" class="pf-popup__trigger" aria-haspopup="true" aria-owns="pf-3">Share the Gospel</a></h3>
	<div class="pf-popup pf-popup__cols" id="pf-3">
<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Participate</h4>
	<ul>
		<li><a href="//www.lds.org/church/share?lang=eng" data-omniture="" class=" ">How to Share the Gospel</a></li><li><a href="http://www.mormon.org/eng" data-omniture="" class=" ">Mormon.org</a></li><li><a href="//www.lds.org/referrals/send?lang=eng" data-omniture="" class=" ">Refer a Friend</a></li><li><a href="//www.lds.org/broadcasts/archive/worldwide-missionary-broadcast/2017/01?lang=eng" data-omniture="" class=" ">Missionary Broadcasts</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Full-Time Missions</h4>
	<ul>
		<li><a href="//www.lds.org/callings/missionary?lang=eng" data-omniture="" class=" ">Prepare for a Mission</a></li><li><a href="https://apps.lds.org/recentry/login.lds" data-omniture="" class=" ">Missionary Recommendation Form</a></li><li><a href="https://missionary.lds.org" data-omniture="" class=" ">Full-time Missionary Portal</a></li><li><a href="https://seniormissionary.lds.org/srsite/" data-omniture="" class=" ">Senior Missionary Opportunities</a></li>
	</ul>
</div>
</div>
</li>

<li class="pf-joshua__menu pf-4">
	<h3 class="pf-joshua__menu__heading"><a href="#pf-4" class="pf-popup__trigger" aria-haspopup="true" aria-owns="pf-4">Inspiration and News</a></h3>
	<div class="pf-popup pf-popup__cols" id="pf-4">
<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Be Inspired</h4>
	<ul>
		<li><a href="//www.lds.org/broadcasts?lang=eng" data-omniture="" class=" ">Broadcasts</a></li><li><a href="//www.lds.org/topics/inspiration-and-news/inspiring-media?lang=eng" data-omniture="" class=" ">Inspiring Media</a></li><li><a href="//www.lds.org/music?lang=eng" data-omniture="" class=" ">Music</a></li><li><a href="//www.lds.org/general-conference?lang=eng" data-omniture="" class=" ">General Conference</a></li><li><a href="//www.lds.org/magazine?lang=eng" data-omniture="" class=" ">Magazines</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Stay Informed</h4>
	<ul>
		<li><a href="//www.lds.org/church/news?lang=eng" data-omniture="" class=" ">Church News</a></li><li><a href="http://www.mormonnewsroom.org/" data-omniture="" class=" ">Official Newsroom</a></li><li><a href="//www.lds.org/church/events?lang=eng" data-omniture="" class=" ">Upcoming Events</a></li><li><a href="//www.lds.org/media-library/social?lang=eng" data-omniture="" class=" ">Social Media</a></li><li><a href="//www.lds.org/countries?lang=eng" data-omniture="" class=" ">Country Pages</a></li>
	</ul>
</div>
</div>
</li>

<li class="pf-joshua__menu pf-5">
	<h3 class="pf-joshua__menu__heading"><a href="#pf-5" class="pf-popup__trigger" aria-haspopup="true" aria-owns="pf-5">Serve and Teach</a></h3>
	<div class="pf-popup pf-popup__cols" id="pf-5">
<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Lead and Teach</h4>
	<ul>
		<li><a href="//www.lds.org/topics/serve-and-teach/lead-in-the-church?lang=eng" data-omniture="" class=" ">Lead in the Church</a></li><li><a href="//www.lds.org/topics/serve-and-teach/lessons-and-teaching?lang=eng" data-omniture="" class=" ">Lessons and Teaching</a></li><li><a href="//www.lds.org/callings/teachers?lang=eng" data-omniture="" class=" ">Teaching in the Savior’s Way</a></li><li><a href="//www.lds.org/media-library?lang=eng" data-omniture="" class=" ">Media Library</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Callings</h4>
	<ul>
		<li><a href="//www.lds.org/mycalling/ministering?lang=eng" data-omniture="" class=" ">Ministering</a></li><li><a href="//www.lds.org/callings/melchizedek-priesthood?lang=eng" data-omniture="" class=" ">Elders Quorum</a></li><li><a href="//www.lds.org/callings/relief-society?lang=eng" data-omniture="" class=" ">Relief Society</a></li><li><a href="//www.lds.org/callings/aaronic-priesthood?lang=eng" data-omniture="" class=" ">Aaronic Priesthood</a></li><li><a href="//www.lds.org/callings/young-women?lang=eng" data-omniture="" class=" ">Young Women</a></li><li><a href="//www.lds.org/callings/primary?lang=eng" data-omniture="" class=" ">Primary</a></li><li><a href="//www.lds.org/callings/sunday-school?lang=eng" data-omniture="" class=" ">Sunday School</a></li><li><a href="//www.lds.org/callings/missionary?lang=eng" data-omniture="" class=" ">Missionary</a></li><li><a href="//www.lds.org/si/seminary?lang=eng" data-omniture="" class=" ">Seminary</a></li><li><a href="//www.lds.org/si/institute?lang=eng" data-omniture="" class=" ">Institute</a></li><li><a href="//www.lds.org/callings/?lang=eng" data-omniture="" class=" ">All Callings</a></li>
	</ul>
</div>

<div class="pf-popup__col ">
	<h4 class="pf-popup__submenu__heading">Service Opportunities</h4>
	<ul>
		<li><a href="//www.lds.org/topics/serve-and-teach/volunteer-time-and-talent?lang=eng" data-omniture="" class=" ">Volunteer Time and Talent</a></li><li><a href="//www.lds.org/topics/serve-and-teach/how-church-is-helping?lang=eng" data-omniture="" class=" ">How the Church is Helping</a></li><li><a href="https://seniormissionary.lds.org/srsite/" data-omniture="" class=" ">Senior Missionary</a></li>
	</ul>
</div>
</div>
</li>
</ul><!-- / -->
			</div>
			<form action="https://www.lds.org/search" method="get" accept-charset="utf-8" class="pf-search ng-pristine ng-valid" role="search" data-key="ldsorg">
				<input type="hidden" name="lang" value="eng">
				<label for="pf-global-search" class="pf-search__label pf-icon-search">
					<span>Search</span>
				</label>
				<div class="pf-search__inputs" id="pf-search-inputs">
					<a href="#d" class="pf-search__hider"><span>Hide Search</span></a>
					<input type="text" class="pf-search__field" id="pf-global-search" autocomplete="off" placeholder="Search Church sites" name="query">
					<input type="submit" class="pf-search__button" value="" aria-label="Search">
					
				<ul id="list67" class="pf-search__resultList"></ul></div>
			</form>
		</nav>
	<script type="text/javascript">
                       var pf_attention = "Attention";
                       var pf_webBrowserTooOld = "This site does not support the current version of your web browser. To get the best possible experience using our website we recommend that you upgrade to a newer version or install another";
                       var pf_webBrowser = "Web Browser";
                   </script>
	<script src="//edge.ldscdn.org/cdn2/csp/ldsorg/scripts/testing.js"> </script>
</header>