/*! CSS Used from: Embedded */

.ng-hide:not(.ng-hide-animate) {
    display: none!important;
}


/*! CSS Used from: https://edge.ldscdn.org/cdn2/csp/platform/styles/platform5.css ; media=all */

@media all {
    :focus {
        outline: default;
    }
}


/*! CSS Used from: https://edge.ldscdn.org/cdn2/csp/ldsorg/css/common/lds-old.css ; media=all */

@media all {
    a,
    a:hover {
        color: #0091bc;
    }
    a,
    div,
    h1,
    h2,
    li,
    p,
    span,
    table,
    tbody,
    td,
    tr,
    ul {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0;
    }
    ul {
        list-style: none;
    }
    :focus {
        outline: default;
    }
    a:link,
    a:visited {
        text-decoration: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    a:hover {
        text-decoration: underline;
    }
    .clear {
        clear: both;
    }
    .clear:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    input[type=text] {
        vertical-align: middle;
        background-color: #fff;
    }
    input[type=text]:focus,
    textarea:focus {
        background-color: #fffde0;
    }
    @media print {
        a {
            background: #fff none;
            color: #000!important;
            text-decoration: none;
            box-shadow: none;
        }
    }
}


/*! CSS Used from: https://www.lds.org/donations/build/css/select-b9eb8133.css ; media=all */

@media all {
    .ui-select-offscreen {
        clip: rect(0 0 0 0)!important;
        width: 1px!important;
        height: 1px!important;
        border: 0!important;
        margin: 0!important;
        padding: 0!important;
        overflow: hidden!important;
        position: absolute!important;
        outline: 0!important;
        left: 0px!important;
        top: 0px!important;
    }
    .selectize-control>.selectize-input>input {
        width: 100%;
    }
    .selectize-control>.selectize-dropdown {
        width: 100%;
    }
}


/*! CSS Used from: https://www.lds.org/donations/build/css/bootstrap-9169ec30.css ; media=all */

@media all {
    article {
        display: block;
    }
    a {
        background: transparent;
    }
    a:active,
    a:hover {
        outline: 0;
    }
    h1 {
        margin: .67em 0;
        font-size: 2em;
    }
    input,
    textarea {
        margin: 0;
        font: inherit;
        color: inherit;
    }
    html input[disabled] {
        cursor: default;
    }
    input::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    input {
        line-height: normal;
    }
    input[type="search"] {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-appearance: textfield;
    }
    textarea {
        overflow: auto;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    td {
        padding: 0;
    }
    @media print {
        * {
            color: #000!important;
            text-shadow: none!important;
            background: transparent!important;
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
        }
        a,
        a:visited {
            text-decoration: underline;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        tr {
            page-break-inside: avoid;
        }
        p,
        h2 {
            orphans: 3;
            widows: 3;
        }
        h2 {
            page-break-after: avoid;
        }
    }
    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .glyphicon-edit:before {
        content: "\e065";
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    input,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    a {
        color: #428bca;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #2a6496;
        text-decoration: underline;
    }
    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    h1,
    h2 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    h1,
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        margin: 0 0 10px;
    }
    .text-muted {
        color: #777;
    }
    ul {
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        background-color: transparent;
    }
    input[type="search"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
    .form-control::-moz-placeholder {
        color: #777;
        opacity: 1;
    }
    .form-control:-ms-input-placeholder {
        color: #777;
    }
    .form-control::-webkit-input-placeholder {
        color: #777;
    }
    .form-control[disabled] {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }
    input[type="search"] {
        -webkit-appearance: none;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .btn:focus,
    .btn:active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    .btn:hover,
    .btn:focus {
        color: #333;
        text-decoration: none;
    }
    .btn:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
    .btn-default:active {
        background-image: none;
    }
    .btn-primary {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        color: #fff;
        background-color: #3071a9;
        border-color: #285e8e;
    }
    .btn-primary:active {
        background-image: none;
    }
    .dropdown {
        position: relative;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}


/*! CSS Used from: https://www.lds.org/donations/build/css/selectize-7158f6ee.css ; media=all */

@media all {
    .selectize-control {
        position: relative;
    }
    .selectize-dropdown,
    .selectize-input,
    .selectize-input input {
        color: #303030;
        font-family: inherit;
        font-size: 13px;
        line-height: 18px;
        -webkit-font-smoothing: inherit;
    }
    .selectize-input {
        background: #ffffff;
        cursor: text;
        display: inline-block;
    }
    .selectize-input {
        border: 1px solid #d0d0d0;
        padding: 8px 8px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 1;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .selectize-input>* {
        vertical-align: baseline;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .selectize-input>input {
        display: inline-block!important;
        padding: 0!important;
        min-height: 0!important;
        max-height: none!important;
        max-width: 100%!important;
        margin: 0 2px 0 0!important;
        text-indent: 0!important;
        border: 0 none!important;
        background: none!important;
        line-height: inherit!important;
        -webkit-user-select: auto!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    .selectize-input>input::-ms-clear {
        display: none;
    }
    .selectize-input>input:focus {
        outline: none!important;
    }
    .selectize-input::after {
        content: ' ';
        display: block;
        clear: left;
    }
    .selectize-dropdown {
        position: absolute;
        z-index: 10;
        border: 1px solid #d0d0d0;
        background: #ffffff;
        margin: -1px 0 0 0;
        border-top: 0 none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
    }
    .selectize-dropdown .optgroup-header {
        padding: 5px 8px;
    }
    .selectize-dropdown .optgroup:first-child .optgroup-header {
        border-top: 0 none;
    }
    .selectize-dropdown .optgroup-header {
        color: #303030;
        background: #ffffff;
        cursor: default;
    }
    .selectize-dropdown-content {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 200px;
    }
    .selectize-control.single .selectize-input,
    .selectize-control.single .selectize-input input {
        cursor: pointer;
    }
    .selectize-control.single .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent;
    }
}


/*! CSS Used from: https://www.lds.org/donations/build/css/main-0f26905b.css ; media=all */

@media all {
    input:focus,
    textarea:focus {
        outline: none;
    }
    input:focus {
        background: #ccc;
    }
    input:focus {
        border-color: #3690f7;
        box-shadow: 0 0 4px #3690f7;
    }
    input:disabled {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: none;
    }
    div,
    span,
    h1,
    h2,
    p,
    a,
    ul,
    li,
    table,
    tbody,
    tr,
    td {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    ul {
        list-style: none;
    }
    :focus {
        outline: default;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    .container *,
    .container *:before,
    .container *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    p,
    h2,
    h1 {
        font-family: Helvetica, Arial, Verdana, sans-serif!important;
        font-style: normal!important;
        line-height: normal!important;
    }
    p {
        font: 100 .7em Helvetica, Arial, Verdana, sans-serif;
        margin: 0 0 20px;
    }
    a {
        color: #0091bc;
        border: 0;
        text-decoration: none;
    }
    a:hover {
        color: #333;
    }
    .holes {
        position: relative;
        background: url(https://www.lds.org/donations/build/imgs/tithing_holes.png) repeat-x 0 0;
        height: 42px;
        border-left: 1px solid #D2D2D2;
        border-top: 1px solid #D2D2D2;
        border-right: 1px solid #D2D2D2;
        border-bottom: 1px dashed #D2D2D2;
        clear: both;
    }
    .whiteSlip {
        border-left: 1px solid #D2D2D2;
        border-right: 1px solid #D2D2D2;
        border-bottom: 1px solid #D2D2D2;
        background: #FFF;
        padding: 20px 10px;
        font-family: Helvetica, arial, verdana, non-serif;
        box-shadow: 0px 2px 8px #DDD;
    }
    .slip .form-control.txt::-webkit-input-placeholder {
        font-size: 17px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .slip .form-control.txt::-moz-placeholder {
        font-size: 17px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .slip .form-control.txt:-ms-input-placeholder {
        font-size: 17px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .slip input.form-control.txt:-moz-placeholder {
        font-size: 17px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .ui-select-search::-webkit-input-placeholder {
        font-size: 14px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .ui-select-search::-moz-placeholder {
        font-size: 14px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .ui-select-search:-ms-input-placeholder {
        font-size: 14px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .ui-select-search:-moz-placeholder {
        font-size: 14px!important;
        color: #CCC!important;
        font-weight: 300;
    }
    .whiteSlip h1 {
        font: bold 1.4em Helvetica, Arial, Verdana, non-serif;
        margin: 0;
    }
    article.userInfo {
        margin: 15px 0 0;
        padding: 14px 5px 6px;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        font: normal .75em Helvetica, Arial, verdana, non-serif;
        display: inline-block;
        width: 100%;
    }
    .whiteSlip table.slip {
        width: 100%;
        border-collapse: collapse;
        font-size: 85%;
    }
    .whiteSlip .slip td {
        height: 46px;
        padding: 8px 6px;
        vertical-align: middle;
        border-bottom: 1px solid #bebebe;
        font-size: 15px;
    }
    .whiteSlip .slip td.total,
    .whiteSlip .slip td.totalAmount {
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        border-left: none;
        border-right: none;
        padding: 16px 10px 14px 0;
        font-size: 1.8em;
        color: #333;
    }
    .whiteSlip .slip td.totalAmount {
        padding-left: 10px;
        border-left: 1px solid #bebebe;
        text-align: right;
    }
    .whiteSlip .slip td.input {
        width: 45%;
        padding-left: 10px;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
        border-right: none;
        border-top: none;
    }
    .whiteSlip .slip td.input input {
        width: 100%;
        height: 30px;
        text-align: right;
        padding: 0 5px;
        font-size: 100%;
        border-radius: 5px;
    }
    .whiteSlip .slip td.input.adjust {
        vertical-align: top;
        border-top: none;
        border-right: none;
    }
    .whiteSlip .bold {
        font-weight: bold;
        font-size: 170%!important;
    }
    .whiteSlip p.donationTxt {
        margin: 0;
        padding: 16px 0;
        border-bottom: 1px solid #333;
        font-size: .9em;
        line-height: 1.4em!important;
    }
    .whiteSlip .slip td.borderL {
        border-left: 1px solid #bebebe;
        border-right: none;
        border-top: none;
        border-bottom: none;
        padding: 0;
        height: 0;
    }
    .whiteSlip .slip td.wMission {
        padding: 12px 0 0 5px;
        border: 0px solid #fff;
        height: 0;
    }
    .whiteSlip .slip td.noPadCell {
        padding: 8px 10px 6px 5px;
        border-bottom: 1px solid #bebebe;
        border-left: none;
        border-top: none;
        border-right: none;
        height: 0;
        vertical-align: top;
    }
    .whiteSlip .slip tr:nth-of-type(odd) {
        background: none;
    }
    .whiteSlip .slip .form-control[disabled] {
        display: none;
    }
    .notes p {
        font-size: 14px;
        margin: 0;
    }
    .notes .glyphicon {
        margin: 0 4px;
    }
    .addNote {
        margin: 20px 0!important;
    }
    .notes textarea {
        border-radius: 5px;
        border: 1px solid #CCC;
        font-family: inherit;
        color: #666;
        width: 100%;
        padding: 10px 12px;
        margin-top: 8px;
        resize: none;
    }
    .userInfo p {
        font-size: 120%;
        margin: 0 0 8px;
    }
    .userInfo h2 {
        margin: 6px 0 4px;
        font: bold 136% Helvetica, arial, verdana, sans-serif;
    }
    * {
        margin: 0;
        padding: 0;
    }
    p {
        margin: 20px 0;
    }
    .btnContainer {
        margin: 20px 0;
        text-align: right;
    }
    .clear {
        clear: both;
    }
    ul.stepsTab {
        display: none;
    }
    input:focus,
    textarea:focus,
    a:focus {
        outline: 0;
    }
    table {
        border: none;
    }
    table,
    table td,
    table tr {
        border: none;
    }
    *::-webkit-input-placeholder {
        color: #AAA!important;
        font-size: 13px!important;
        position: relative;
        top: 2px;
    }
    *:-moz-placeholder {
        color: #AAA!important;
        font-size: 13px!important;
        position: relative;
        top: 2px;
    }
    *:-ms-input-placeholder {
        color: #AAA!important;
        font-size: 13px!important;
        position: relative;
        top: 2px;
    }
    .btn {
        padding: 15px 25px;
        font: normal 1.1em Helvetica, Arial, Verdana, sans-serif;
        width: 100%;
        margin: 4px 0;
    }
    .btn-primary {
        background-color: #0091bc;
        border-color: none;
    }
    .btn-default {
        color: #FFF!important;
        background-color: #a6a6a6;
        border-color: #a6a6a6;
    }
    .btn-default:hover {
        color: #eee;
        background-color: #888;
        border-color: #888;
    }
    .btn-default:focus,
    .btn-default:active {
        background-color: #A6A6A6;
    }
    p.dropdown-menu.spouse {
        font-size: 85%;
        padding: 10px;
        top: 120%;
        left: -120px;
        min-width: 280px;
        background: #F8F1DE;
        border: 1px solid #E7DDBF;
    }
    span.dropdown {
        margin-left: 6px;
    }
    .form-control {
        width: 100%;
        height: 31px;
    }
    .panel-saving {
        display: block;
        width: 220px;
        height: 60px;
        border: 1px solid #161616;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #161616;
        background: -webkit-gradient(linear, left top, left bottom, from(#40403F), to(#161616));
        background: -moz-linear-gradient(top, #40403F, #161616);
        background: -ms-linear-gradient(top, #40403F, #161616);
        background: linear-gradient(top, #40403F, #161616);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40403F', endColorstr='#161616');
        position: absolute;
        z-index: 501;
        top: 50%;
        left: 50%;
        margin-left: -110px;
        margin-top: -30px;
        text-align: center;
    }
    .panel-saving p {
        font-size: 14px;
        color: #eee!important;
        text-align: center;
        text-shadow: #000 0px -1px 0px;
        margin: 10px 0px;
        line-height: 1;
    }
    .selectize-input {
        height: 30px;
        padding: 5px 7px 4px 7px;
        border-radius: 5px;
        border: 1px solid #CCC;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09);
    }
    .selectize-input input {
        font-size: 14px;
        vertical-align: baseline;
    }
    .selectize-input .ui-select-match {
        font-size: 14px;
    }
    .selectize-input input:focus {
        background: none!important;
    }
    .selectize-input .ui-select-search {
        font-size: 14px;
    }
    .ui-select-choices {
        line-height: 16px;
    }
    .ui-select-choices-content {
        box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px 0;
        padding-bottom: 4px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .selectize-dropdown {
        background: #F0F0F0;
        margin-top: -5px;
        width: auto!important;
        min-width: 100%!important;
        border-top: 1px solid #D0D0D0;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    @media (min-width: 478px) {
        .whiteSlip {
            padding: 20px;
        }
        .whiteSlip h1 {
            font-size: 1.8em;
        }
        .whiteSlip .slip td {
            font-size: 17px;
        }
        .userInfo h2 {
            font-size: 140%;
        }
        .userInfo .float {
            float: left;
            width: 50%;
        }
        .userInfo .float2 {
            float: right;
            width: 45%;
            text-align: right;
        }
        .btn {
            width: auto!important;
            margin-top: 0;
            margin-bottom: 0;
        }
        .btn.floatR {
            float: right;
            margin-left: 5px;
        }
        .whiteSlip table.slip {
            font-size: 100%;
        }
    }
    @media (min-width: 599px) {
        .whiteSlip .bold {
            font-size: 190%!important;
        }
        .whiteSlip h1 {
            font-size: 2em;
        }
    }
    @media (min-width: 768px) {
        ul.stepsTab {
            margin: -20px 0 20px;
            clear: left;
            width: 100%;
            display: block;
        }
        ul.stepsTab li {
            float: left;
            background: #d6d6d6;
            border: 1px solid #C9C9C9;
            width: 33%;
            vertical-align: middle;
            margin: 0;
        }
        ul.stepsTab li:first-child {
            border-right: none;
            border-bottom-left-radius: 18px;
            border-top-left-radius: 18px;
        }
        ul.stepsTab li:last-child {
            border-left: none;
            border-bottom-right-radius: 18px;
            border-top-right-radius: 18px;
        }
        ul.stepsTab li a {
            display: block;
            height: 41px;
            padding: 6px 10px;
        }
        ul.stepsTab li a .circle-text {
            width: 30px;
            float: left;
        }
        ul.stepsTab li a .circle-text:after {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background: #B7B7B7;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        ul.stepsTab li a .circle-text div {
            float: left;
            width: 100%;
            position: relative;
            top: 16px;
            text-align: center;
            color: #e6e6e2;
            font: normal 160% Helvetica, Arial, verdana, non-serif;
            line-height: 0px;
        }
        ul.stepsTab li a p {
            float: left;
            width: 65%;
            margin: 0 0 0 10px;
            font-size: 89%;
            text-transform: uppercase;
            color: #b7b7b7;
            position: relative;
            top: 3px;
        }
        ul.stepsTab li.active,
        ul.stepsTab li.active:hover {
            background: #454545;
            border: 1px solid #454545;
        }
        ul.stepsTab li.active a .circle-text:after,
        ul.stepsTab li.active:hover a .circle-text:after {
            background: #efefeb;
            display: block;
        }
        ul.stepsTab li.active a .circle-text div,
        ul.stepsTab li.active:hover a .circle-text div {
            color: #333;
        }
        ul.stepsTab li.active a p,
        ul.stepsTab li.active:hover a p {
            color: #FFF;
        }
        ul.stepsTab li a:hover .circle-text div {
            color: #258FC1;
        }
        ul.stepsTab li a:hover .circle-text:after {
            background: #FFF;
        }
        ul.stepsTab li a:hover p {
            color: #FFF;
        }
        ul.stepsTab li.disabledHover {
            cursor: not-allowed;
        }
        ul.stepsTab li.disabledHover:hover p {
            color: #b7b7b7;
        }
        ul.stepsTab li.disabledHover:hover a div {
            color: #e6e6e2;
        }
        ul.stepsTab li.disabledHover:hover a .circle-text:after {
            background: #B7B7B7;
        }
        .btnContainer {
            margin: 40px 5px 25px 0;
            text-align: right;
        }
        .holes {
            margin-top: 20px;
        }
    }
    .spinner {
        position: relative;
    }
    .spinner>span {
        display: block;
        height: 15px;
        border-radius: 3px;
        margin: 0 10px;
        background-color: #7BA8C5;
        background-image: -moz-linear-gradient(top, #7BA8C5, #315E7B);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7BA8C5), color-stop(1, #315E7B));
        background-image: -webkit-linear-gradient(#7BA8C5, #315E7B);
        background-image: -ms-linear-gradient(#7BA8C5, #315E7B);
        -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }
    .spinner>span:after,
    .spinner-animate>span>span {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
        background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
        background-image: -ms-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
        background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
        z-index: 1;
        -webkit-background-size: 40px 40px;
        -moz-background-size: 40px 40px;
        background-size: 40px 40px;
        -webkit-animation: move 3s linear infinite;
        -moz-animation: move 3s linear infinite;
        animation: move 3s linear infinite;
        overflow: hidden;
    }
    .spinner-animate>span:after {
        display: none;
    }
}


/*! CSS Used from: https://www.lds.org/donations/build/css/memfs-757f695a.css ; media=all */

@media all {
    .donation-slip-loading {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1001;
    }
    .counter {
        float: right;
        margin-right: 5px;
        color: #CCCCCC;
    }
}


/*! CSS Used from: https://www.lds.org/donations/build/css/print-9d9da5ac.css ; media=print */

@media print {
    article {
        padding: 0 6px!important;
    }
    a:link:after,
    a:visited:after {
        content: " ("attr(href) ") ";
        display: none;
    }
    ul.stepsTab,
    .holes,
    .btnContainer,
    .btn {
        display: none!important;
    }
    table td {
        font-family: normal Helvetica, Arial, Verdana, sans-serif!important;
    }
    article.userInfo {
        border-top: 2px solid #333!important;
        border-bottom: 2px solid #333!important;
        padding: 2px 0 0!important;
        margin: 7px 0 0;
    }
    article p {
        padding: 4 0!important;
        font: normal 85% Helvetica, Arial, verdana, sans-serif!important;
        color: #333!important;
    }
    .userInfo h2 {
        font: normal 100% Helvetica, Arial, verdana, sans-serif!important;
        margin: 2px 0!important;
    }
    .userInfo p {
        margin: 2px 0!important;
    }
    .slip td {
        height: 30px!important;
    }
    table.slip {
        border-top: 1px solid #000!important;
        border-bottom: 1px solid #000!important;
    }
    table.slip tr:first-child {
        border-top: 0!important;
    }
    table.slip tr:last-child {
        border-top: 1px solid #000!important;
    }
    table.slip tr {
        border-top: 1px solid #DDD!important;
    }
    table.slip tr td:first-child {
        border-right: 1px solid #DDD!important;
    }
    table.slip tr td span {
        display: block;
        font-size: 86%!important;
        color: #999!important;
    }
    .totalAmount {
        font-size: 120%!important;
    }
    .totalAmount {
        padding-right: 10px!important;
    }
    .whiteSlip h1 {
        font-size: 120%!important;
    }
    .whiteSlip .slip td {
        height: 26px!important;
        padding: 0 0 0 6px;
        font-size: 124%;
    }
    .whiteSlip .slip td.input {
        border-left: 1px solid #bebebe;
    }
    .whiteSlip .bold {
        font-size: 140%!important;
    }
    .whiteSlip .slip td.total,
    .whiteSlip .slip td.totalAmount {
        padding: 8px 6px;
        height: 0;
    }
    .form-control {
        appearance: none!important;
        -webkit-appearance: none!important;
        -moz-appearance: none!important;
        font-size: 11px!important;
        border: none!important;
        outline: none!important;
        border-radius: 0;
        transition: none;
    }
}


/*! CSS Used keyframes */

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

@-ms-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'Glyphicons Halflings';
    /*src: url(glyphicons-halflings-regular.eot);*/
    /*src: url(https://www.lds.org/donations/build/fonts/glyphicons-halflings-regular.eot#iefix) format('embedded-opentype'), url(https://www.lds.org/donations/build/fonts/glyphicons-halflings-regular.woff) format('woff'), url(https://www.lds.org/donations/build/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(https://www.lds.org/donations/build/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');*/
}